*{
    margin: 0;
    padding: 0;
}


 /* header */

header{
    display: flex;
    background-image: url("../images/header.jpg");
    background: cover;
    background-repeat: no-repeat;
    height: 70vh;
    flex-direction: column;
}

 /* navegacion */

nav{
    display: flex;
    justify-content: space-between;
    margin: 70px 270px 0px 270px;
}

.logo{
    height: 80px;
    margin-bottom: 40px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 26px;
    font-family:  Tahoma;
}

 /* aside1 */

.aside1{
    margin: 0px 100px 0px 270px;
}

h1{
    color: white;
    font-size: 80px;
    font-family: arial;
}

.h1{
    margin-bottom: 40px;
}

.p1{
    color: white;
    font-family: arial;
    margin-bottom: 10px;
}

.p2{
    color: white;
    font-family: arial;
    margin-bottom: 30px;
}

/* button1 */

.button1{
    font-size: 15px;
    font-weight: 600;
    font-family: arial;
    border-color:transparent;
    border-radius: 20px;
    color:black;
    background-color: #00FFAD;
    width: 150px;
    height: 40px;
}

 /* section1 */

 .section1{
    display: flex;
    height: 31vh;
    justify-content: center;
    margin: 0px 0px 200px 0px;
 }

 h2{
    display: flex;
    justify-content: center;
    margin: 100px 0px 60px 0px;
    font-size: 45px;
 }
 
 .imagenes1{
    height: 180px;
    width: 200px;
    margin-left: 130px;
 }

 .h2{
    font-family: arial;
    margin: 0px;
    font-size: 30px;
    margin-bottom: 10px;
 }

 .p3{
    text-align: center;
   margin: 0px 30px 0px 30px;
    width: 400px;
    font-family: arial;
 }

 /* section-madre */

 .section-madre{
    padding: 20px 0px;
    display: flex;
    height: 108vh;
    flex-direction: column;
    background: linear-gradient(345deg, rgba(0,255,179,1) 10%, rgba(0,255,179,1) 65%, rgba(0,255,179,1) 50%, rgba(255,255,255,1) 0%);
 }
 

 /* section2 */

 .section2{
    display: flex;
    height: 40vh;
    margin-bottom: 200px;
    justify-content: space-between;
 }

 h3{
    font-size: 30px;
    font-family: arial;
    margin-left: 300px;
 }

 
.p4{
    margin: 20px 30px 0px 300px;
    text-align: left;
}

.button2{
    margin: 50px 30px 0px 300px;
    font-size: 15px;
    font-weight: 600;
    font-family: arial;
    border-color:transparent;
    border-radius: 20px;
    color:white;
    background-color: #192440;
    width: 150px;
    height: 40px;
}

.imagenes2{
    padding: 0px;
    margin: 0px 260px 0px 50px;
}

/* section3 */

.section3{
display: flex;
height: 40vh;
justify-content: space-between;
margin-bottom: 50px;
}

.imagenes3{
  padding: 0px;
  margin: 0px 0px 0px 330px;
}

.h3{
    margin: 0px 300px 0px 100px;
}

.p5{
    margin: 20px 300px 0px 100px;
}

.button3{
    margin: 50px 300px 0px 100px;
    font-size: 15px;
    font-weight: 600;
    font-family: arial;
    border-color:transparent;
    border-radius: 20px;
    color:white;
    background-color: #192440;
    width: 150px;
    height: 40px;
}

/* section4 */

.section4{
    display: flex;
    justify-content: center;
    margin: 0px 0px 100px 0px;
}

.cajaAzul{
    background-color: #192440;
    text-align: center;
    color: white;
    font-family: arial;
    padding: 60px 30px 30px 30px;
    width:300px;
    height:400px;
    margin: 0px 100px 0px 100px;
    border-radius: 8px;
}

.pAzul{
    font-size: 25px ;
}

.h4{
    font-size: 30px;
    font-family: arial;
    text-align: center;
    margin-bottom: 5px;
}

h4{
    display: flex;
    justify-content: center;
    margin: 100px 0px 60px 0px;
    font-size: 45px;
    font-family: arial;
}

.divSection4{
    text-align: center;
    font-family: arial;
    padding: 60px 30px 30px 30px;
    width:300px;
    height:400px;
}

.Pnegrilla{
    margin-bottom: 20px;
}

span{
    font-size: 100px;
    font-weight: bold;
}

.p6{
    font-size: 25px ;
    text-align: center;
}

#marginP{
    margin: 15px 0px 15px 0px ;
}

.button4{
    font-size: 15px;
    font-weight: 600;
    font-family: arial;
    border-color:transparent;
    border-radius: 20px;
    color:white;
    background-color: #00FFAD;
    width: 150px;
    height: 40px;
    margin-top: 30px;
}

.buttonB{
    font-size: 15px;
    font-weight: 600;
    font-family: arial;
    border-color:#192440;
    border-radius: 20px;
    color:black;
    width: 150px;
    height: 40px;
    margin-top: 30px;
    background-color: transparent;
}

/* section5 */

.section5{
    position: relative;
    position: sticky;
    bottom: 100px;
    display: flex;
    background-color: #ECEEEF;
    height: 25vh;
    justify-content:center;
    align-items: center;
}

.imagenes4{
    width:180px ;
    height:90px ;
    margin: 0px 0px 0px 60px;
}

/*Position */

.position{
    position: absolute;
    bottom: -100px;
}

.redondo{
    height: 180px;
    width: 180px;
    border-radius: 100px;
    border: black 5px solid;
}

/* section6 */

.section6{
    display: flex;
    background-image: url("../images/contact-bk.jpg");
    background: cover;
    height: 60vh;
    font-family: arial;
}

.ultimoDiv{
    color: white;
    margin: 100px 250px 100px 150px;
}

h5{
    font-size: 35px;
}

h6{
    font-size: 15px;
    color: #00FFAD;
    margin-bottom: 5px;
    font-family: Arial;
}

.Psection6{
    margin: 10px 0px 10px 0px;
    width: 400px;
}

.divInputFinal{
    font-family: Arial;
}

.divInput{
display: flex;
margin-top: 100px;
margin-bottom: 15px;
font-family: Arial, Helvetica, sans-serif;
}

.input1{
    height: fit-content;
    border-color: #00FFAD;
    background-color: transparent;
    border-radius: 5px;
    height: 30px;
    width: 230px;
    margin-right: 35px;
}

.input2{
    height: fit-content;
    border-color: #00FFAD;
    background-color: transparent;
    border-radius: 5px;
    height: 30px;
    width: 230px;
}

.input3{
    height: fit-content;
    border-color: #00FFAD;
    background-color: transparent;
    border-radius: 5px;
    height: 60px;
    width: 500px;
}


.button5{
    font-size: 15px;
    font-weight: 600;
    font-family: arial;
    border-color:transparent;
    border-radius: 30px;
    color:black;
    background-color: #00FFAD;
    width: 500px;
    height: 45px;
    margin-top: 25px;
    margin-right: 100px;
}

/* footer */

footer{
    display: flex;
    height: 12vh;
    background-color: #192440;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-family: arial;
}

.ultimoP{
    margin-left: 280px;
}

.imagenesFace{
    width: 80px;
    height: 80px;
}

.imagenesX{
    width: 68px;
    height: 68px;
    margin-bottom: 5px;
}

.imagenesbmw{
    width: 57px;
    height: 57px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.imagenesUltima{
    margin-right: 280px;
    width: 80px;
    height: 80px;
}

@media screen and (max-width:921px) {
    /* header */
    header{
        background-image: url("../images/header.jpg"); 
        display: flex;
        height: 70vh;
    }
    h1{
        font-size: 40px;
    }
    a{
        margin-top: 20px;
    }
    .aside1{
        margin-left: 100px;
    }
    nav{
        margin: 30px 100px 0px 100px;
    }
    h2{
        margin-bottom: 300px;
    }
     /* section1 */
     .p3{
        margin: 0px;
     }
     .section1{
        display: flex;
        flex-direction: column;
        height: 30vh;
        align-items: center;
     }
     .imagenes1{
        margin-left: 100px;
     }
        /* sectionMadre */
        .section-madre{
            height: 140vh;
            margin-bottom: 200px;
        }
        /* section2 */
        .section2{
            margin-top: 200px;
        }
        h3{
            margin: 0px 0px 10px 30px;
        }
        .p4{
            margin: 20px 0px 10px 35px;
        }
        .button2{
            margin: 40px 0px 10px 30px;
        }
        .imagenes2{
            margin: 0px 30px 0px 0px ;
        }
        /* section3 */
        .imagenes3{
            margin: 0px ;
        }
        .h3{
            margin: 0px 0px 10px 50px;
        }
        .p5{
            margin: 20px 0px 20px 50px;
        }
        .button3{
            margin: 30px 0px 0px 50px;
        }
         /* section5 */
        .imagenes4{
            margin: 0px;
        }
        /* section6 */
        .ultimoDiv{
            margin: 70px 0px 0px 0px;
            padding: 30px 0px 30px 10px;
        }
        /*footer*/
        footer{
            display: flex;
            justify-content: space-around;
        }
        .ultimoP{
            margin: 0px;
        }
        .imagenesUltima{
            margin: 0px;
        }
    }

    @media screen and (max-width:769px) {
        /*sectionMadre*/
        .section-madre{
            margin-bottom: 100px;
            height: 160vh;
        }
        /*section2*/
        .imagenes2{
            height: 300px;
            width: 500px;
            margin-right: 10px;
        }
        /*section3*/
        .imagenes3{
            height: 300px;
            width: 500px;
        }
         /*section4*/
         .section4{
            flex-direction: column;
            align-items: center;
         }
         /*section5*/
         .section5{
            justify-content: space-around;
         }
         .imagenes4{
            height: 100px;
            width: 100px;
         }
         /*section6*/
         .ultimoDiv{
            margin-left: 40px;
         }
         .input1{
            width:105px ;
         }
         .input2{
            width:105px ;
         }
         .input3{
            width: 250px;
         }
         .button5{
            width: 250px;
         }
    
    }
@media screen and (max-width:481px) {
    /*header*/
    header{
        height: 85vh;
    }
    h2{
        font-size: 30px;
    }
    /*sectionMadre*/
    .section-madre{
        background: linear-gradient(345deg, rgba(0,255,179,1) 10%, rgba(0,255,179,1) 58%, rgba(0,255,179,1) 50%, rgba(255,255,255,1) 0%);
        height: 160vh;
    }
    /*section2*/
    .section2{
        flex-direction: column;
    }
    h3{
        text-align: center;
    }
    .p4{
        text-align: center;
    }
    .button2{
       margin-left: 170px;
       margin-bottom: 30px;
    }
    .imagenes2{
        margin: 0px 0px 0px 35px;
        height:400px ;
        width:400px ;
    }
    /*section3*/
    .section3{
        flex-direction: column;
    }
    .h3{
        text-align: center;
    }
    .p5{
        text-align: center;
    }
    .button3{
       margin-left: 170px;
    }
    .imagenes3{
        margin-bottom: 30px;
        margin-left: 40px;
        height:400px ;
        width:400px ;
    }
    /*section5*/

    .imagenes4{
        height: 70px;
        width: 70px;
    }
    /*section6*/
    .section6{
        background-repeat: no-repeat;
        height: 90vh;
        flex-direction: column;
    }
    .divInput{
        margin: 0px;
    }
    .divInputFinal{
        margin-left: 115px;
    }
    h5{
        text-align: center;
        margin-right: 50px;
    }
    .Psection6{
        text-align: center;
    }
    /*footer*/
    .imagenesFace{
        width: 50px;
        height: 50px;
    }

    .imagenesX{
        width: 42px;
        height: 42px;
        margin-bottom: 5px;
    }

    .imagenesbmw{
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-bottom: 8px;
    }
    .imagenesUltima{
        height: 50px;
        width: 50px;
    }
    .ultimoP{
        font-size: 15px;
    }
}
@media screen and (max-width:352px) {

    /*header*/
    a{
        font-size: 15px;
    }
    h1{
        font-size: 20px;
        width: 200px;
    }
    .h1{
        font-size: 20px;
        width: 200px;
    }
    .p1{
        text-align: center;
        font-size: 14px;
    }
    .p2{
        text-align: center;
        font-size: 14px;
    }
    h2{
       font-size: 20px; 
    }
    .h2{
        font-size: 20px;
    }
    /*section1*/
    .imagenes1{
        margin-left: 42px;
    }
    .p3{
        font-size: 10px;
        width: 300px;
    }
    /*section2*/
    .button2{
        margin-left: 100px;
    }
    .imagenes2{
        margin-left: 20px;
        height: 300px;
        width: 300px;
    }
    h3{
        margin-right: 40px;
    }
    .p4{
        margin-right: 45px;
    }
    /*section3*/
    .button3{
        margin-left: 100px;
    }
    .imagenes3{
        margin-left: 30px;
        height: 300px;
        width: 300px;
    }
    .h3{
        margin-right: 40px;
    }
    .p5{
        margin-right: 45px;
    }
    h4{
        font-size: 30px;
    }
    /*section4*/
    .cajaAzul{
        width: 280px;
        margin: 0px;
    }
    .divSection4{
        padding: 20px 0px 20px 0px;
    }
    /*section5*/
    .imagenes4{
        height: 50px;
        width: 50px;
    }
    /*section6*/
    .section6{
        height: 90vh;
    }
    .ultimoDiv{
        padding: 0px;
        margin: 0px;
    }
    h5{
        margin: 110px 0px 0px 0px;
    }
    .Psection6{
        text-align: center;
        font-size: 13px;
        margin-left: 20px;
        width: 300px;
    }
    .divInputFinal{
        margin-left: 50px;
        margin-top: 20px;
        width: 150px;
    }
    /*footer*/
    .imagenesFace{
        width: 40px;
        height: 40px;
    }

    .imagenesX{
        width: 32px;
        height: 32px;
        margin-bottom: 5px;
    }

    .imagenesbmw{
        width: 27px;
        height: 27px;
        margin-left: 10px;
        margin-bottom: 8px;
    }
    .imagenesUltima{
        height: 40px;
        width: 40px;
    }
    .ultimoP{
        font-size: 10px;
    }
}

 

